[submodule "Nnuts/vendor/spdlog"]
	path = Nnuts/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nnuts/vendor/GLFW"]
	path = Nnuts/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Nnuts/vendor/imgui"]
	path = Nnuts/vendor/imgui
	url = https://github.com/ocornut/imgui
