[submodule "Nnuts/vendor/spdlog"]
	path = Nnuts/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nnuts/vendor/GLFW"]
	path = Nnuts/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Nnuts/vendor/imgui"]
	path = Nnuts/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Nnuts/vendor/glm"]
	path = Nnuts/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "nnuts/vendor/glfw"]
	path = nnuts/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "nnuts/vendor/imgui"]
	path = nnuts/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "nnuts/vendor/spdlog"]
	path = nnuts/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
